
.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.md5
.godot/global_script_class_cache.cfg
.godot/editor/recent_dirs
.godot/editor/project_metadata.cfg
.godot/editor/node_2d.tscn-folding-362256a061aa8890e9a1e558b11e5ec3.cfg
.godot/editor/node_2d.tscn-editstate-362256a061aa8890e9a1e558b11e5ec3.cfg
.godot/editor/filesystem_cache8
.godot/editor/editor_layout.cfg
.godot/.gdignore
